<div class="row" style="background-image: url('../images/carimage.PNG'); background-repeat:no-repeat;background-size: cover;
background-position: right;">
    <div class="col-sm-9" style="font-family: cursive;font-weight: bolder;color: blue;font-size: 40px;
    padding: 10px 0px 10px 40px;">
    </div>
    <div class="col-sm-3">
        <div class="row pleaseRegister" >
            Login
        </div>
        <span style="color: red;">{{errorMsg}}</span>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="model.email" placeholder="Email ID">
            </div>  
            <div class="form-group">
                <input type="password" id= "password" name= "password" class="form-control" [(ngModel)]="model.password" placeholder="Password">
            </div>  
            <button style="margin-bottom: 180px;" type="submit" class="btn btn-success">Login</button> &nbsp;
            <button style="margin-bottom: 180px;" routerLink="/introduction" class="btn btn-success">Sign Up</button>
        </form>   
    </div> 
</div>




