<div class="row" style="background-image: url('../images/carimage.PNG'); background-repeat:no-repeat;background-size: cover;
background-position: right;">
    <div class="col-sm-8" style="    font-family: cursive;font-weight: bolder;color: blue;font-size: 40px;
    padding: 10px 0px 10px 40px;">

      <!--   <p>Tell us your car location and we will come to you. With Green Wash,
         you can get your car washed wherever you are at your convenience. 
         Whether it's your home, salon, office or any other place, 
         your car wash is just a few taps away. Few moments spend in signup can save your valuable time. 
        </p>
        <p>
        All you need to do is just enter your car, address and payment details.
         A washer will come at your location and give your car a premium wash. 
         The app also contains various packages and add-ons to wipe, clean and dress your entire car 
         from inside out. One of the best parts of the app is, users can even schedule future car wash 
         and give reviews and ratings to washers. Just download the app now and book your first 
         car wash today.
        </p> -->
    </div>
    <div class="col-sm-4">
      <app-signupcomponent></app-signupcomponent>
    </div>




