<div style="padding: 40px"> 
    <div class="row">
        <div class="col-sm-4"> 
            <app-profilemanagement></app-profilemanagement>
        </div>
        <div class="col-sm-4"> 
            <app-package-mgmt></app-package-mgmt>
        </div>
        <div class="col-sm-4"> 
            <app-promo-mgmt></app-promo-mgmt>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"> 
            <app-order-mgmt></app-order-mgmt>
        </div>
        <div class="col-sm-4"> 
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Report Management</div>
                    <div class="card-body">
                        <h4 class="card-title">Info card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>
    </div>

</div>
