<div style="padding: 20px 40px 0px 40px"> 
    <div class="row">
        <div class="col-sm-4"> 
            <app-profilemanagement></app-profilemanagement>
        </div>
        <div class="col-sm-4"> 
            <app-package-mgmt></app-package-mgmt>
        </div>
        <div class="col-sm-4"> 
            <app-promo-mgmt></app-promo-mgmt>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"> 
            <app-order-mgmt></app-order-mgmt>
        </div>
        <div class="col-sm-4"> 
            <app-report-mgmt></app-report-mgmt>
        </div>
    </div>

</div>
