<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Order Management</div>
        <div class="card-body"> 
            <select id="orderType" name="orderType" class="form-control" [(ngModel)]="orderType">
                <option value="">Select Order Type</option>
                <option value="New Order">New Order</option>
                <option value="Existing Order">Existing Order</option>
            </select>

            

            <select id="workStatus" name="workStatus" class="form-control" style="width: 65%;">
              <option>Accepted</option>
              <option>In progress</option>
              <option>Pending</option>
              <option>Completed</option>
              <option>Cancelled</option>
            </select>
        </div>
</div>
