<div style="padding: 20px 40px 0px 40px"> 
  <div class="row" >
      <div class= "col-sm-4">
        <app-washrequest></app-washrequest>
      </div>
      
      <div class= "col-sm-4">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
              <div class="card-header">My Orders</div>
              <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>

      <div class= "col-sm-4">
              <app-customerprofiledetails></app-customerprofiledetails>
      </div>
  </div>
  <div class="row"> 
      <div class= "col-sm-4">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
              <div class="card-header">Add Car</div>
              <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>

  </div>
</div>
