<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Package Management</div>
        <div class="card-body">
            <select id="serviceType" name="serviceType" class="form-control">
                <option>Services</option>
                <option>Add-ons</option>
                <option>Packages</option>
            </select> 
            <br>
            <button class="btn btn-success" >View</button>&nbsp;
            <button class="btn btn-success" >Create New</button>
        </div>
</div>
