<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Report Management</div>
        <div class="card-body">
            <div class="input-group">
                <div class="custom-file">
                  <select id = "reports" name= "reports" class="form-control" style="width: 65%;">
                    <option>Order Number</option>
                    <option>Washer Name</option>
                    <option>Type</option>
                    <option>Service</option>
                    <option>Date</option>
                  </select>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-success" type="button">Go</button>
                </div>
              </div>
        </div>
</div>
